#titlearea {
	
	
	
	
	
	background-image:url(BMBF-Gef-Logo-200.png);
	background-repeat:no-repeat;
	background-position: right top;
	height: 139px;
	display: block;
	

	
	
	}

#foerderkennzeichen {
	float: left;
	width: 36%;
}
