@media (min-width: 768px) {
  .container {
    width: 755px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 975px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1460px;
  }
}
@media (min-width: 1800px) {
  .container {
    width: 1750px;
  }
}
@media (min-width: 2000px) {
  .container {
    width: 1940px;
  }
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 1px;
  border: none;
  color: lightslategray;
  background-color: lightslategray;
}
