#
# %{EXP_ID}.%{JOB.id} - %{mkexp_input}
#
# %{VERSIONS_|join('\n# ')}
#
# time_limit = %{JOB.time_limit}
#

EXP_ID=%{EXP_ID}
EXP_TYPE=%{EXP_TYPE}
ENVIRONMENT=%{ENVIRONMENT}

VAR1=%{VAR1}
VAR2=%{VAR2}
VAR3=%{VAR3}

cat << ___ > namelist.echam
%{NAMELIST_ECHAM}
___
