# ICON
#
# ---------------------------------------------------------------
# Copyright (C) 2004-2024, DWD, MPI-M, DKRZ, KIT, ETH, MeteoSwiss
# Contact information: icon-model.org
# See AUTHORS.TXT for a list of authors
# See LICENSES/ for license information
# SPDX-License-Identifier: CC0-1.0
# ---------------------------------------------------------------

astroid==2.3.3
attrs==20.3.0
cftime==1.1.1.2
click==7.1.1
cycler==0.10.0
iniconfig==1.1.1
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
netCDF4==1.5.3
numpy==1.18.2
packaging==20.4
pandas==1.0.3
parsedatetime==2.5
pathlib==1.0.1
pluggy==0.13.1
py==1.9.0
pylint==2.4.4
pyparsing==2.4.6
pytest==6.2.1
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.14.0
toml==0.10.2
typed-ast==1.4.1
wrapt==1.11.2
xarray==0.16.1
